.idea/
venv/
app/__pycache__/
app/alembic/__pycache__/
app/alembic/versions/__pycache__/
app/routers/__pycache__/
app/queries/__pycache__/
app/schemas/__pycache__/
app/dependencies/__pycache__/
app/models/__pycache__/
/app.db
/app/example.db
/app/logs/
